html {
    font-size: 62.5%;
}

/* font stuff */
body {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 8rem;
}

h2,
h4 {
    font-size: 3rem;
    font-weight: 500;
    color: rgb(24, 33, 44);
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(24, 33, 44);
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

p {
    font-size: 1.5rem;
    line-height: 2;
}


header,
footer {
    padding: 0 5rem;
}


/* header */
header {
    height: 5rem;
    align-items: center;
    background: rgb(102, 118, 138);
    justify-content: space-between;

    img {
        height: 4rem;
    }

    nav {
        width: 13%;
        justify-content: flex-end;
    }

    a {
        font-size: 1.5rem;
    }
}

ul li {
    display: inline;
}

#donate {
    background: white;
    border-radius: .5rem;
    padding: 1rem 1rem;
    color: rgb(102, 118, 138);

}

ul {
    justify-content: space-around;
    list-style: none;
}

/* end of header */
main {
    background: rgb(102, 118, 138);
    color: white;
    padding: 5rem 10rem;
    min-height: 30rem;
    text-align: center;

    * {
        padding: 2rem 0;
    }

    p {
        font-family: "Oswald", sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 2;
    }

    span {
        font-size: 2rem;
    }

}

.flex {
    display: flex;
}

.whitebg {
    background: white;
}

.centered {
    padding: 5rem 10rem;
    min-height: 30rem;
    text-align: center;
    margin: 2rem 5rem;

    * {
        margin: 2rem 0;
    }
}

.six {
    min-height: 60rem;
    justify-content: center;
}

.card {
    width: 40%;
    flex-direction: column;

    * {
        text-align: center;
    }

    .text-box {
        height: 40rem;

        * {
            margin: 2rem 1rem;
        }
    }

    a {
        font-size: 1.5rem;
        color: rgb(24, 33, 44);
        border: solid .1rem rgb(24, 33, 44);
        padding: 1rem 3rem;
    }

    div {
        margin: 0 auto;
        width: 30rem;
        height: 20rem;
        background: rgb(102, 118, 138);
    }

    section {
        width: 100%;
    }

}

.four {
    min-height: 40rem;
}

/* #why{

} */
.top-footer,
.bottom-footer {
    justify-content: space-between;
}

.top-footer {
    height: 15rem;
}

.bottom-footer {
    height: 4rem;
    border-top: solid .2rem white;
    min-height: 5rem;
}

.w70 {
    width: 70%;
}

.w5 {
    width: 5%;
}
#links-left-ftr{
    width:30%;
    flex-direction:column;
    span{
        text-transform: uppercase;
        font-weight: bold;
        color:rgb(71, 84, 100);
    }
    a{
        text-transform: capitalize;
    }
}

footer {
    padding-top:3rem;
    height: 25rem;
    justify-content: space-between;
    background: rgb(22, 31, 42);
    color: white;

    img {
        height: 3rem;
    }

    .socials {
        height:3rem;
        font-size: 2rem;
        width:100%;
    }

    .footer-row{
        height: 2rem;
    }

    div span{
        text-transform: uppercase;
    }
    p{
        font-size:1rem;
    }
    span em{
        font-family: "Oswald",sans-serif;
        text-transform: uppercase;
    }
    nav{
        justify-content: flex-start;
        gap:2rem;
    }
}


@media(width<=120rem) {
    header {
        nav {
            width: 25%;
        }
    }
}

@media(width<=68rem) {
    header {
        nav {
            display: none;
        }
    }

}

@media(width<=50rem) {
    .six {
        flex-direction: column;

        .card {
            width: 100%;
            flex-direction: row;
        }
    }
}

@media(width<=45rem) {
    header.flex {
        padding: 0;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    main.four {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 30rem;
    }

    main p {
        display: none;
    }

    .six {
        flex-direction: column;

        .card {
            width: 100%;
            flex-direction: column;
        }
    }

    .centered {
        padding: 0;
    }

    #links-left-ftr{
    width:50%;
    }
}